@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/*general styles*/

body {font-family: 'Work Sans'; font-size:12px; margin-top:0;}

#wrapper {width: 100%; background-color:antiquewhite; margin-left:auto; margin-right:auto;}/*can also be written as: margin: 0 auto;*/

header {height:155px; background-color:#ffffff;}/*heights should be deleted once you add content*/
#logo {width:300px;margin:0 auto; vertical-align: middle}
nav {width:100%; margin:0 austo;text-align: center}
ul {margin-left:0; padding-left:0;} /*overwrites default bullet points and padding*/
li {display:inline-block;} /*turns list items horizontal*/
li a {display: block; width:130px; font-size: 18px; font-weight: 500}/*note: the width of the tabs is 150px so the 10px padding left and right has to be subtracted from the width on the code*/
 
a:link {color:#FA9BBC; text-align:center; text-decoration:none;} 
a:visited {color:#e8cdcd;}
a:hover {color:#e8aaaa;} 

#content {height:750px; background-color:#ffffff;}/*heights should be deleted once you add content*/

footer {
	height:44px;
	background-color:#ffffff;
	clear:both;
	padding-left: 5%;
	padding-right: 5%;
}/*heights should be deleted once you add content*/

.copyright {
	font-family: "Work Sans";
	color: #FA9BBC;
	font-size: 14px;
	font-weight: 600px;
	
}

.footer-link {
	font-size: 14px;
	width: 100%;
	margin-left: 14px;
}

.left {
	display: inline-block; 
}

.right{
	display: inline-block; float: right
}